@model IEnumerable<EventManagementSystem.Models.Comments>


<div id="ulCommentList" class="bg-light overflow-auto" style="max-width: 100%; max-height: 300px;">

    @if (@Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <div class="row d-flex justify-content-center p-1 col-lg-12">
                <div class="col-md-8 col-lg-11"  style="border-bottom: 1px solid #c9c9c9;">
                        <div class="">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4>@Html.DisplayFor(modelItem => item.Author)</h4>
                                <p class="m-0">@Html.DisplayFor(modelItem => item.Date)</p>
                            </div>
                            <div class="my-2">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                           
                    </div>
                </div>
            </div>


        }
    }
    else
    {
        <div></div>
    }


</div>
<div class="container"  style="padding-top:20px; width: 100%;
    padding-top: 20px;;">
    <div class="row col-md-12">
        <div class="d-flex justify-content-center">
            <div class="col-md-12">
                <div class="form-outline">
                    <input type="text" id="newComment" class="form-control form-control-lg" placeholder="Type comment..." fdprocessedid="rigypq">
                </div>
            </div>
            <div class="form-outline">
                <button type="button" class="btn btn-primary" onclick="addComment()"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/js/event.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }