@model EventManagementsystem.Models.UserDetails

@{
    ViewData["Title"] = "Signup";
}




<div>
    <div style="margin-bottom: 30px;">
        <a asp-action="Index" class="signup-back-link">Event List</a>
    </div>
    <div>
        <section class="signup-page">
            <div class=" h-custom signup-content">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <div>
                            <h1 class="signup-title">Sign Up</h1>
                        </div>
                        <form asp-action="RegisterUser" method="post" asp-controller="home">
                            <div class="form-outline mb-4 hide">
                                <label asp-for="UserId" class="form-label fw-bold"></label>
                                <input asp-for="UserId" id="UserId" class="form-control form-control-lg" placeholder="Enter UserId" />
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">

                                    <div class="form-outline">
                                        <label asp-for="FirstName" class="form-label fw-bold">First Name</label>
                                        <input asp-for="FirstName" id="firstname" class="form-control form-control-md" placeholder="First Name" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-3">

                                    <div class="form-outline">
                                        <label asp-for="LastName" class="form-label fw-bold">Last Name</label>
                                        <input asp-for="LastName" id="lastname" class="form-control form-control-md" placeholder="Last Name" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-outline mb-3">
                                <label asp-for="Email" class="form-label fw-bold"></label>
                                <input asp-for="Email" id="email" class="form-control form-control-md" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <label asp-for="Password" class="form-label fw-bold"></label>
                                <input asp-for="Password" id="password" type="password" class="form-control form-control-md" minlength="1" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2  d-flex flex-column align-items-center">
                                <input type="button" value="Sign Up" onclick="emailValidate()" class="signup-button btn btn-primary btn-lg" />
                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    Already have an account? <a asp-action="Login" style="color: #307c8f"
                                                                class="">Sign In</a>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>







@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/js/login.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
