@model EventManagementSystem.Models.EventDetails

@{
    ViewData["Title"] = "Index";
}

<h4>Add Event</h4>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr/>
<section>
    <div class="container-fluid h-custom d-flex justify-content-center">
        <div class="row col-md-7 event">
            <h1 class="mb-3 text-center">Event Details</h1>
            <form asp-action="AddEvent" method="post" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group hide">
                    <label asp-for="EventId" class="form-label fw-bold"></label>
                    <input asp-for="EventId" class="form-control form-control-lg" placeholder="Enter EventId" />
                    <span asp-validation-for="EventId" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Title" class="form-label fw-bold"></label>
                    <input asp-for="Title" class="form-control form-control-lg" placeholder="Enter Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Description" class="form-label fw-bold"></label>
                    <textarea asp-for="Description" class="form-control form-control-lg" placeholder="Enter Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Duration" class="form-label fw-bold"></label>
                    <input asp-for="Duration" class="form-control form-control-lg" placeholder="Enter Duration" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label fw-bold">DateTime</label>
                    <input asp-for="StartDate" type="datetime-local" class="form-control form-control-lg" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="Location" class="form-label fw-bold">Location</label>
                    <input asp-for="Location" placeholder="Location" class="form-control form-control-lg" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="row">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                    </label>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-success btn-lg" />
                </div>
            </form>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
